*, *::before, *::after{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dashboard{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(240px, 0.22fr) minmax(650px, 1fr);
}

.sideBar{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;
    color: #FFFFFF;
    background-color: #1894D5;
}
.sidebarItem{
    width: 80%;
    font-size: 22px;
    padding-bottom: 4px;
    cursor: pointer;
}
.clicked{
    border-bottom: 2px solid white;
}

@media screen and (max-width: 870px) {
    #dashboard{
        height: 100vh;
        width: 100vw;
    }
    .sideBar{
        display: none;
    }
    .main{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: minmax(50px, 0.1fr) 1fr;
    }
}

#logo{
    font-size: 32px;
    font-weight: 700;
    margin: 1rem 1rem 2rem 0;
    cursor: pointer;
}

.main{
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(50px, 0.1fr) 1fr;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    font-size: 25px;
    background-color: #FBFBFB;
    z-index: 1;
    box-shadow: 5px 1px 8px 1px #888888;
}
.tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
#btnAddTicket,
#btnOpenAllDropdowns{
    font-size: 27px;
    cursor: pointer;
}




#content{
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
    overflow-y: auto;
    background-color: #E4ECF6;
}

#ticketList{
    margin: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ticket{
    height: 3.5rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 3.5rem ;
    padding-inline: 0.8rem;
    font-size: 18px;
    background-color: #FBFBFB;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 1px 1px 4px 1px #c3c3c3;
}
.ticket>*{
    display: flex;
    align-items: center;
    justify-content: center;
}
.editButtons{
    display: flex;
    gap: 0.5rem;

}
.editButtons * {
    cursor: pointer;
}
/* .priority{
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    border-radius: 10px;
    background-color: #ff9900;
}
.priority-high{
    background-color: #F6412D;
}
.priority-medium{
    background-color: #FF9800;
}
.priority-low{
    background-color: #FFEC19;
} */

.dropDownTicket{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    position: relative;
    top: -5px;
    background-color: #FBFBFB;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #c3c3c3;
    background-color: rgb(255, 255, 255);
    display: none;
}
.showDropDownTicket{
    display: block !important;
}
.drop{
    cursor: pointer;
}

.dropDownTicket > .title{
    font-size: 20px;
    margin-bottom: 0.7rem;
}
.dropDownTicket > .description{
    font-size: 16px;
}


/* .dropDownTicket-row{
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 120px 1fr;
}
.dropDownTicket-row > * {
    overflow-y: auto;
} */




.popup{
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    z-index: 5;
    box-shadow: 1px 1px 13px 5px #8b8b8b;    
    border-radius: 10px;
}
.popup h2{
    text-align: center;
    margin: 0;
    color: #1695D5;
}

.popup-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.popup-form-row {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.popup-list{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.popup-list-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.popup-list-row > *{
    overflow-y: auto;
}

.label{
    font-size: 1.2rem;
}

.popup-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.popup-buttons *{
    height: 2rem;
    width: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    border: 0;
    border-radius: 10px;
}

.postive-popup-button{
    background-color: #1695D5;
}
.negative-popup-button{
    background-color: #d54616;
}