body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

#content{
    height: auto;
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;

    background-color: #fff;
    box-shadow: 1px 1px 8px 3px #8b8b8b;    
    border-radius: 10px;
    /* border-radius: 5px;
    box-shadow: 0px 0px 10px 0px;
    color: rgb(144, 144, 144);
    background-color: rgb(235, 235, 235); */
}

.rows{
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: black;
}
.rows>h1{
    margin: 0;
    color: #1695D5;
}

@media screen and (max-width: 780px) {
    .rows{
        width: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        color: black;
    }
}

.cols{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

input, select{
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.btnContainer{
    width: 200px;
    height: 3em;
}

button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: #1695D5;
    border: 0;
    border-radius: 10px;
}

.bottomLinks {
    justify-content: space-between;
}

.space{
    /* height: 0.2rem; */
}

#btnAddTicket{
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 5px;
    background-color: rgba(241, 233, 0, 0.926);
}